library_project/data/mysql/*
library_project/staticfiles/*
library_project/library_project/__pycache__/*
__pycache__/
.vscode/
.venv/
books_data.csv
db.sqlite3
library_project/library_project/recommendation/d2v.model.dv.vectors.npy
library_project/library_project/recommendation/d2v.model.syn1neg.npy
library_project/library_project/recommendation/d2v.model.wv.vectors.npy
library_project/library_project/recommendation/neighbors.pkl
library_project/library_project/recommendation/titlemap.pkl
