{% extends 'base.html' %}
{% load static %}



{%block head%}
<style>
    .container-wrapper {
        display: flex; /* Use flexbox for horizontal layout */
        justify-content: space-between; /* Add space between the containers */
    }

    .container {
        width: 48%; /* Adjust the width as needed */
    }
</style>
<script src="{%static 'js/searchOption.js' %}"></script>
<script src="{%static 'js/crudForm.js' %}"></script>

<script type="text/javascript">

function showRM(formId) {
    document.getElementById('rmBook').style.display = 'none';
    document.getElementById('rmPatron').style.display = 'none';
    document.getElementById(formId).style.display = 'block';
}
function showAlt(formId) {
    document.getElementById('alterBook').style.display = 'none';
    document.getElementById('alterPatron').style.display = 'none';
    document.getElementById(formId).style.display = 'block';
}
function showAdd(formId) {
    document.getElementById('addBook').style.display = 'none';
    document.getElementById('addPatron').style.display = 'none';
    document.getElementById(formId).style.display = 'block';
}
</script>

{%endblock%}



{%block body%}
{%include 'update/add.html'%}
{%include 'update/remove.html'%}
{%include 'update/alter.html'%}
<div class="container" id = "add">
    <div style = "text-align: center;">
    <form id="addBook2" method="POST" action="{% url 'change'%}">
        <input type="hidden" name="action" value="copy">
        <b>Add Book Copy</b>
        {% csrf_token %}
        <table>
        {{ addBook.as_table }}
        </table>
        <button type="submit">Submit</button>
    </form>


</div>
{%endblock%}

