{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/style.css' %}">
    <style>
        ul {
            list-style-type: none; /* Remove bullet points */
            padding: 0; /* Remove default padding */
        }
    </style>
    {% block head %}
    {% endblock %}

    <div class="header" style="background-color: lightblue; text-align: center; border-radius: 20%; margin: auto; width:40%; ">
        <!-- Checks if user is logged in -->
        {% if login %}
        <h2>Welcome {{ Name }}!</h2>
        {% if staff %}
        <h3 style="color: red">Librarian Permissions</h3>
        <ul>
            <li><a href="{% url 'return_book' %}">Return Book</a></li>
            <li><a href="{% url 'update' %}">Librarian Page</a></li>
        </ul>
        {% endif %}
        <ul>
            <li><a href="{% url 'profile' %}">Profile</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
            <li><a href="{% url 'home' %}">Home</a></li>
        </ul>

        <!-- Checks if user is staff -->

        {% else %}
        <h2>You are not logged in</h2>
        <ul>
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'signup' %}">Sign up</a></li>
        </ul>
        {% endif %}
    </div>
</head>
<body>
    {% block body %}
    {% endblock %}
    {% block footer %}
    {% endblock %}
</body>
</html>
