{% comment %} {%load static%} {% endcomment %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" href="{%static 'style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Welcome!</h1>
        <form method="GET" action="{% url 'search-page' %}">
            {{ form }}
            <button type="submit">Submit</button>
            {% comment %} <input type="submit" value="Submit"> {% endcomment %}
        </form>
    </div>
</body>
</html>