{% extends 'base.html' %}
{% load static %}

{% block title %}eLib - Home{% endblock %}
{%block head%}
<script> var csrfToken = '{{ csrf_token }}';</script>

<script src="{%static 'js/checkOut.js' %}"></script>
{% endblock%}
{% block body %}
{% comment %} {% include 'search/searchbar.html' %} {% endcomment %}
<div class="container">
    <div><strong>Title: </strong>{{results.title.0}}</div>
    <div><strong>Author(s): </strong>{{results.authors.0}}</div>
    <div><strong>Category: </strong>{{results.category.0}}</div>
    <div><strong>Publisher: </strong>{{results.publisher.0}}</div>
    <div><strong>Year of Publication: </strong>{{results.publishdate.0}}</div>
    <div><strong>Description: </strong>{{results.description.0}}</div>
</div>
<div class="container">
    <h3>Entries</h3>
    <button onclick="checkoutBook({{results.book_id.0}})">
    {% if results.best_status.0 == 0 %}
    Check Out
    {% else %}
    Join Waitlist
    {% endif %}
    </button>
    <table>
        <thead>
            <tr>
                <th>Decimal Code</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for code, status in results.books %}

                <tr>
                    <td>{{code}}</td>
                    {% if status == 0 %}
                        <td>In Stock</td>
                    {% elif status == 1 %}
                        <td>Out of Stock</td>
                    {% else%}
                        <td>Reserved</td>
                    {% endif%}
                </tr>
            {% endfor %}
        </tbody>

</div>

{% endblock %}