{% extends 'base.html' %}
{% block head %}

{%endblock%}
{% block title %}eLib - Search Results{% endblock %}

{% block body %}
    {% include 'search/searchbar.html' %}
    <div class="container">
        <pre> {{SQLquery.0}} </pre>
    {% if results %}
    <button class="prevButton" type="button" onclick="previousPage()">Previous</button>
    <button class="nextButton" type="button" onclick="nextPage()">Next</button>
    <p> Showing results <strong id="resultsNumbers">{{ num_res.0 }}-{{ num_res.1}}</strong></p>

        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Publisher</th>
                    <th>Copies</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for result in results %}
                    <tr>
                        <td><a href="{% url 'book-details' result.0 %}">{{ result.1 }}</a></td>  <!-- Title -->
                        <td>{{ result.2 }}</td>  <!-- publisher -->
                        <td>{{ result.3 }}</td>
                        <td>{{ result.4 }}</td>
                        {% if result.5 == 0 %}
                            <td>In Stock</td>
                        {% elif result.5 == 1 %}
                            <td>Out of Stock</td>
                        {% else%}
                            <td>Reserved</td>
                        {% endif%}

                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p id="noResults">No results found.</p>
    {% endif %}
    <button class="prevButton" type="button" onclick="previousPage()">Previous</button>
    <button class="nextButton" type="button" onclick="nextPage()">Next</button>
    <script>
        const queryString = window.location.search
        const urlParams = new URLSearchParams(queryString);
        const pageNum = parseInt(urlParams.get("page"));
        const pageField = document.getElementById('id_page');

        function previousPage() {
            pageField.value = Math.max(pageNum - 1, 1);
            document.getElementById('searchForm').submit();
        }

        function nextPage() {
            pageField.value = pageNum + 1;
            document.getElementById('searchForm').submit();
        }

        let nextDisabled = false;
        if (document.getElementById('noResults') != null) {
            nextDisabled = true;
        } else {
            const [lower, upper] = document.getElementById('resultsNumbers').innerText.split("-");
            nextDisabled = parseInt(upper)-parseInt(lower) < 50
        }
        for (button of document.getElementsByClassName("nextButton")) {
            button.disabled = nextDisabled;
        }

        for (button of document.getElementsByClassName("prevButton")) {
            button.disabled = pageNum === 1;
        }





    </script>
    </div>

{% endblock %}
