{% extends 'base.html' %}

{% block title %}eLib - Search Results{% endblock %}

{% block body %}
    {% include 'search/searchbar.html' %}
    <div class="container">
        <p> {{SQLquery}} </p>
    {% if results %}
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    {% comment %} <th>Status</th>
                    <th>Author</th> {% endcomment %}
                </tr>
            </thead>
            <tbody>
                {% for result in results %}
                    <tr>
                        <td><a href="{% url 'book-details' result.0 %}">{{ result.1 }}</a></td>  <!-- Title -->
                        <td>{{ result.2 }}</td>  <!-- publisher -->

                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No results found.</p>
    {% endif %}
    </div>
{% endblock %}
